.session-page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.session-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: rgb(229, 176, 44) solid 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

  .session-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .session-form label {
    display: block;
    margin-bottom: 15px;
  }

  .session-form span {
    display: block;
    margin-bottom: 5px;
  }

  .session-form input[type="text"],
  .session-form input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .session-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 176, 44);
    color: #fff;
    cursor: pointer;
  }

  .session-form input[type="submit"]:hover {
    background-color: rgb(229, 176, 44);
  }

  /* Error messages */
  .session-form .errors {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .links-auth {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    text-decoration: none;
    /* background-color: red; */
  }