.comment-details a{
    /* display: flex; */
    color: black;
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
}

.comment-details {
    margin-left: 10px;
}

.author-name {
    margin-left: 10px;
}

.comment-body {
    margin-left: 15px;
}

.edit-links {
    display: flex;
    justify-content: space-between;
    margin-left: 33vw;
    /* background-color: hotpink; */
}