.comments-container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 420px;
    gap: 10px;
    padding: 0;
  
}


.comment-add-container {
    display: flex;
    flex-direction: column;
    /* width: 430px; */
  }
  
.comment-add-container textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.comment-add-container button {
    background-color: #3880ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-end;
}

.comment-add-container button:hover {
    background-color: #2979ff;
}