.whole-navbar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    background-color: white;
    position: fixed;
    min-width: 1100px;
    border-bottom: rgb(210, 154, 15) solid 2px;
}

.nav-logo {
    height: 6vh;
    margin-left: 2vw;
}

.project-name-NB {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    margin-left: 2vw;
    color:  rgb(210, 154, 15);
}

.community-LO {
    color: rgb(111, 157, 185);
    margin-left: 2vw;
    min-width: 140px;
    /* font-size: 18px; */
    /* background-color: aquamarine; */
}

.right-navlinks-logged-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    margin-left: 56vw;
    margin-right: 2vw;
    width: 13vw;
    /* background-color: aqua; */
}

.log-in {
    font-size: 18px;
    min-width: 60px;
    color: rgb(111, 157, 185);
    /* background-color: palevioletred; */
}

.left-navlinks-logged-in {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4vh;
    min-width: 230px;
    margin-left: 2vw;
    color: rgb(111, 157, 185);
    /* background-color: hotpink; */
}

.community {
    color: rgb(111, 157, 185);

}

.projects{
    color: rgb(111, 157, 185);
}

.right-navlinks-logged-in {
    margin-left: 48vw;
    min-width: 14vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: pink; */
}

.create-project {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 20px;
    color: white;
    min-width: 135px;
    border: rgb(229, 176, 44) solid 2px;
    background-color: rgb(229, 176, 44);
}

.log-out{
    color: rgb(111, 157, 185);
    min-width: 60px;
}
