.whole-create-project-container {
    display: flex;
    justify-content: center;
    min-width: 1000px;
    width: inherit;
    margin-bottom: 50px;

}

.upload-photo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.example-images {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 325px;
    margin-top: 20px;
    font-size: 20px;
    
}

.example-images img {
    width: 430px;
    height: inherit;
    object-fit: cover;
}


.new-project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-label {
    font-size: 30px;
}

.title-input {
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border:  rgb(229, 176, 44) solid 1px;
    padding-left: 10px;
}

.privacy-btn {
    color:  white;
    border: black 2px solid;
    border-radius: 10px;
    background-color: purple;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 15px;
    cursor: pointer;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.submit-new-project-btn {
    color:  white;
    border: white solid 1px;
    border-radius: 10px;
    background-color:  rgb(229, 176, 44);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
    cursor: pointer;
}