.create-project-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 680px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
}

.create-project-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    background: white;
    transition: 100ms;
    margin-right: 100px;

}

.create-project-modal-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    background: white;
    transition: 100ms;
}

.create-project-modal-header {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.go-back {
    margin-left: 15px;
    color: purple;
    cursor: pointer;

}

.create-project-modal-header button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    color:  purple;
}

.create-project-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88%;
    /* background-color: green; */
}

.create-modal-step-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}

.create-modal-second {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.create-modal-step-2 {
    height: 100%;
    width: inherit;
}

.create-modal-step-2 img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.create-modal-step-3 {
    display: flex;
    height: 100%;
    width: 100%;
}

.create-modal-step-3 img{
    height: inherit;
    object-fit: cover;
    width: 74%;
    border-bottom-left-radius: 15px;
}

.create-modal-step-3 form {
    display: flex;
    flex-direction: column;
    width: 26%;
    margin-top: 15px;
    gap: 10px;
    /* background-color: purple; */
}

.create-modal-step-3 form input {
    border: none;
    border-bottom: 1px solid rgb(210, 154, 15);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.create-modal-step-3 form textarea {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
    border-top: 1px solid rgb(111, 157, 185);
    /* border-radius: 4px; */
    font-size: 14px;
}

.create-modal-step-3 form p {
    padding-left: 5px;
}

.create-modal-step-3 label {
    padding-left: 10px;
}
.create-modal-step-3 form textarea:focus {
    outline: none;
}

.create-modal-step-3 form input:focus {
    outline: none;
}

.setting-text {
    margin-left: 5px;
    margin-right: 8px;
    text-align: center;
    font-weight: 200;
    font-size: 12px;
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
.switch-container input {
    display: none;
}

.switch-container label {
    padding: 0;
}
.switch {
    background-color: rgb(195, 192, 192);
    width: 45px;
    height: 23px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 200ms;
}

.switch::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    margin-top: 2.01px;
    margin-left: 2px;
    transition: 200ms;
}

input:checked + .switch {
    background-color: rgb(126, 185, 38);
}

input:checked + .switch::before {
    transform: translateX(22px)
}


.create-modal-step-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images-container img {
    max-width: 100%;
    height: auto;
    max-height: 180px;
    margin-bottom: 5px;
  }

  .text-ex {
    z-index: 1;
  }

  .text.disabled {
      cursor: not-allowed;
      color: #999999;
  }
