.project-details-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    min-width: 1118px;
}

.project-title-PDS {
    font-size: 40px;
}

.project-description-PDS{
    font-size: 20px;
    margin-top: 5px;
}

.edit-PDS{
    height: 2vh;
}

.photos-and-comments-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    margin-top: 50px;
}


.projects-index-grid-PDS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    padding: 0;
    margin: 0;
    width: 680px;
    list-style: none;
  }

  
.photo-PDS {
    display: flex;
    width: 200px;
    height: 200px;
}
    
.photo-PDS a {
    width: inherit;
    height: inherit;
}
.photo-PDS img {
    object-fit: cover;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: inherit;
    height: inherit;
}

.comments-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(229, 176, 44) dashed 2px;
    border-radius: 15px;
    /* width: 500px; */
    min-height: 570px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.comments-area h2 {
    width: 420px;
    text-align: center;
}

.user-link {
    text-decoration: none;
}