.project-details-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.project-title-PDS{
    margin-top: 7vh;
    font-size: 40px;
}

.project-description-PDS{
    font-size: 20px;
    margin-top: 5px;
}

.edit-PDS{
    height: 2vh;
}

.photos-and-comments-comtainer{
    display: flex;
    margin-top: 5vh ;
    /* background-color: blue; */
}


.projects-index-grid-PDS {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5vw; 
    flex-wrap: wrap;
    padding-top: 4%;
    margin-right: 40vw;
    min-width: 850px;
    /* background-color: aquamarine; */
  }

  .photoimage {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo-PDS {
    min-height: 250px;
    min-width: 250px;
    height: 250px;
    width: 250px;
}

.comments-area{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(229, 176, 44) dashed 2px;
    padding-right: 2vw;
    padding-top: 2vh;
    margin-top: 13vh;
    margin-left: 50vw;
    min-width: 550px;
}