.project-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 330px;
    border: 2px solid  rgb(229, 176, 44);
}

.project-details-container a img{
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.single-project {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.single-project-img{
    width: 15vw;
    /* height: 25vh; */
    /* background-color: gray; */
}
.bottom-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.deleteIcon{
    height: 17px;
}

.delete-confirmation-div {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(111, 157, 185) solid 3px;
}

.delete-options {
    cursor: pointer;
}

.delete-options:hover{
    color: purple;
}