/* TODO: Add sitewide styles */
.text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.get-started {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 20px;
    color: white;
    border: rgb(229, 176, 44) solid 2px;
    background-color: rgb(229, 176, 44);
}