/* TODO: Add sitewide styles */
body {
    margin: 0;
}
.text {
    font-family: 'Noto Serif Display', serif;
    text-decoration: none;
}

.title {
    font-family: 'Noto Serif Display', serif;
    color: rgb(62, 91, 62);
}


.body {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}